/* PROFIL COMPLET */
#profile {
    width: 950px;
    margin-left: -50px;
    display: flex;
    align-items: stretch;
    margin-top: 60px;
    
    margin-bottom: 60px;
}  
  
/*adaptation par groupe*/
#profile.birbs input[type=radio]:not(:checked) ~ label, #profile.birbs .contenu_onglet_2 .liens_lien a:after, #profile.birbs .contenu_onglet_2 .rela_lien a:after, #profile.birbs .profile_icon > div.field_id2, #profile.birbs .contenu_onglet_1 .historique_chrono a:after, #profile.birbs #quicklinks a:after, #profile.birbs #quicklinks a.profil_msg, #profile.birbs #quicklinks a.profile_topics{color: var(--birbs);}
#profile.birbs .username span{-webkit-text-stroke: 0.4px var(--birbs);}
#profile.birbs #character .player:before, #profile.birbs #character .profile_lastco div, #profile.birbs .card .field_id3:before, #profile.birbs .card .field_id4:before, #profile.birbs .card .field_id5:before, #profile.birbs .card .field_id6:before, #profile.birbs .card .field_id7:before{background-color: var(--birbs);}
#profile.birbs .onglet input[type=radio]:checked ~ label{background-color: var(--birbs); border: 1px solid var(--birbs);}
#profile.birbs .onglet input[type=radio]:not(:checked) ~ label{border: 1px solid var(--birbs);}

#profile.fishies input[type=radio]:not(:checked) ~ label, #profile.fishies .contenu_onglet_2 .liens_lien a:after, #profile.fishies .contenu_onglet_2 .rela_lien a:after, #profile.fishies .profile_icon > div.field_id2, #profile.fishies .contenu_onglet_1 .historique_chrono a:after, #profile.fishies #quicklinks a:after, #profile.fishies #quicklinks a.profil_msg, #profile.fishies #quicklinks a.profile_topics{color: var(--fishies);}
#profile.fishies .username span{-webkit-text-stroke: 0.4px var(--fishies);}
#profile.fishies #character .player:before, #profile.fishies #character .profile_lastco div, #profile.fishies .card .field_id3:before, #profile.fishies .card .field_id4:before, #profile.fishies .card .field_id5:before, #profile.fishies .card .field_id6:before, #profile.fishies .card .field_id7:before{background-color: var(--fishies);}
#profile.fishies .onglet input[type=radio]:checked ~ label{background-color: var(--fishies); border: 1px solid var(--fishies);}
#profile.fishies .onglet input[type=radio]:not(:checked) ~ label{border: 1px solid var(--fishies);}

#profile.doggos input[type=radio]:not(:checked) ~ label, #profile.doggos .contenu_onglet_2 .liens_lien a:after, #profile.doggos .contenu_onglet_2 .rela_lien a:after, #profile.doggos .profile_icon > div.field_id2, #profile.doggos .contenu_onglet_1 .historique_chrono a:after, #profile.doggos #quicklinks a:after, #profile.doggos #quicklinks a.profil_msg, #profile.doggos #quicklinks a.profile_topics{color: var(--doggos);}
#profile.doggos .username span{-webkit-text-stroke: 0.4px var(--doggos);}
#profile.doggos #character .player:before, #profile.doggos #character .profile_lastco div, #profile.doggos .card .field_id3:before, #profile.doggos .card .field_id4:before, #profile.doggos .card .field_id5:before, #profile.doggos .card .field_id6:before, #profile.doggos .card .field_id7:before{background-color: var(--doggos);}
#profile.doggos .onglet input[type=radio]:checked ~ label{background-color: var(--doggos); border: 1px solid var(--doggos);}
#profile.doggos .onglet input[type=radio]:not(:checked) ~ label{border: 1px solid var(--doggos);}


#profile.birbs div#username:before {color: var(--birbs); content: "\f520";}
#profile.doggos div#username:before {color: var(--doggos); content: "\f6d3";}
#profile.fishies div#username:before {color: var(--fishies); content: "\e4f2";}

/*onglet 2 (liens)*/

#profile .contenu_onglet_2 .citation > div, #profile .contenu_onglet_2 .liens > div, #profile .contenu_onglet_2 .rela > div{display: none;}
#profile .contenu_onglet_2 .liens_lien a:after {
    content: "\e595";
    font-family: fontawesome;
    margin-left: 10px;
    color: var(--pnj);
}
#profile .contenu_onglet_2 .rela_lien a:after {
    content: "\f56b";
    font-family: fontawesome;
    margin-left: 10px;
    color: var(--pnj);
}
#profile .contenu_onglet_2 .rela div.field_id12{display: block; 
  background-color: white; margin-bottom: 15px; padding: 15px;
    border-image: linear-gradient(90deg,#6EEBD5 0%,#F9DB51 48.79%,#DF6883 100%) 1 stretch;
    border-bottom: 10px solid #6EEBD5;}
#profile .contenu_onglet_2 .liens div.field_id1{display: block; border-radius: 0 0 15px 15px; background-color: white; padding: 15px; height: 100%;} 
#profile .contenu_onglet_2 .liens{flex-grow: 10;}

/*onglet 1 (historique etc) */
#profile .contenu_onglet_1 .citation > div, #profile .contenu_onglet_1 .situation > div, #profile .contenu_onglet_1 .historique > div {display: none;} 
#profile .contenu_onglet_1 .citation div.field_id8, #profile .contenu_onglet_2 .citation div.field_id8 {display: block;
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    padding: 15px;
    font-family: Roboto;
    font-weight: bold;
    font-style: italic;
    text-transform: lowercase;
    margin-bottom: 15px;
}

#profile .contenu_onglet_1 .situation {
    background-color: #fff;
    padding: 20px;
    align-content: flex-start;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    border-image: linear-gradient(90deg,#6EEBD5 0%,#F9DB51 48.79%,#DF6883 100%) 1 stretch;
    border-bottom: 10px solid #6EEBD5;
}
#profile .contenu_onglet_1 .situation div.field_id10, #profile .contenu_onglet_1 .situation div.field_id9{display: block;}
#profile .contenu_onglet_1 .situation div.field_id10 img{max-height: 300px; max-width: 200px; border-radius: 15px;}
#profile .contenu_onglet_1 .situation div.field_id9 {
    margin-left: 15px;
    flex-grow: 6;
}

#profile .contenu_onglet_1 .historique{background-color: white; border-radius: 0 0 15px 15px; flex-grow: 10;}
#profile .contenu_onglet_1 .historique_main_title, #profile .contenu_onglet_2 .rela_main_title, #profile .contenu_onglet_2 .liens_main_title{background-color: #000; padding: 15px; display: flex; justify-content: space-between;}
#profile .contenu_onglet_1 .historique_title, #profile .contenu_onglet_2 .rela_title, #profile .contenu_onglet_2 .liens_title{
    font-family: Roboto; font-weight: bold; font-style: italic; text-transform: lowercase; font-size: 20px; 
    background: linear-gradient(265.8deg,#F9DB51 0,#6EEBD5 60%,#DF6883 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
#profile .contenu_onglet_1 .historique_chrono, #profile .contenu_onglet_2 .rela_lien, #profile .contenu_onglet_2 .liens_lien {
  	background: linear-gradient(#000,#000) padding-box,linear-gradient(175deg,#F9DB51 0%,#6EEBD5 50%,#DF6883 100%);
	border: 1px solid transparent; border-radius: 15px; display: flex;}
#profile .contenu_onglet_1 .historique_chrono a:after {
    content: "\f017";
    font-family: fontawesome;
    margin-left: 10px;
    color: var(--pnj);
}
#profile .contenu_onglet_1 .historique_chrono a, #profile .contenu_onglet_2 .rela_lien a, #profile .contenu_onglet_2 .liens_lien a{color: white !important; padding: 5px 10px;}
#profile .contenu_onglet_1 .historique div.field_id13{display: block; padding: 15px;}

/*onglets profil*/
#profile #profile_right{position: relative; width: 535px; margin-right: 15px;} 
.onglet{float: right;} 
.onglet label {display: block; width: 100px; height: 40px; text-align: center; color: var(--pnj); font-weight: bold; 
  font-family: roboto; font-size: 11px; line-height: 17px; top: -55px; position: absolute; font-size: 12px; display: flex; 
  align-items: center; justify-content: center; font-weight: bold;} 
.onglet_1 label{right: 100px;} 
.onglet input[type=radio]:checked ~ label{background-color: var(--pnj); border-radius: 15px; color: white; position: relative; z-index: 3; border: 1px solid var(--pnj);}
.onglet input[type=radio]:not(:checked) ~ label{border: 1px solid var(--pnj); border-radius: 15px; background-color: white;}
.onglet_2 input[type=radio]:not(:checked) ~ label{margin-left: -50px; padding-left: 50px; width: 150px;}
.onglet_1 input[type=radio]:not(:checked) ~ label {margin-right: -33px; padding-right: 50px; width: 150px;}
.onglet input[type=radio] {display: none;} 
.contenu {position: absolute; top: 0px; left: 0px; text-align: justify; width: 528px; opacity: 0; -webkit-transition-duration: 0s; border-radius: 15px;} 
.onglet input[type=radio]:checked ~ label ~ .contenu{z-index: 1; opacity: 1;}
#profile .contenu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

/*profil joueur.euse*/
.player {position: relative;
    min-height: 140px;
    padding-top: 70px;
    display: flex;
    color: #fff!important;
    flex-direction: column;
    justify-content: flex-end;}
#character .player:before {
    background: var(--pnj);
    border-radius: 15px;
    bottom: 0;
    clip-path: ellipse(100% 88% at center bottom);
    content: "";
    height: 100%;
    position: absolute;
    width: 250px;
    z-index: 0;
}
#character .player > div > div{display: none;} 

/*discord*/
#character .player .profile_discord > div.field_id16, #character .player .profile_discord > div.field_id15{display: block; position: relative; z-index: 3; 
    max-width: 100%; margin-top: 15px;}
#character .player .profile_discord > div.field_id15:before{content: "pronoms";}
#character .player .profile_discord > div.field_id16:before{content: "discord";}
#character .player .profile_discord {
    padding: 0 30px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
}
#character .player .profile_discord div:before{background: white;
    border-radius: 10px;
    font-style: italic;
    color: black;
    padding: 5px;
    position: relative;
    font-size: 12px;
    position: relative;
    top: -5px;}

/*pseudo*/
#character .player .profile_pseudo > div.field_id14{position: relative; z-index: 3; line-height: 100%; display: flex; justify-content: center;}
#character .player > div.profile_pseudo > div.field_id14:before{content: "@";}
#character .player .profile_pseudo .field_id14{font-size: 50px; font-family: Abril FatFace; line-height: 100%; 
        white-space: nowrap;}


/*quicklinks*/
#profile #quicklinks {
  width: 38px !important;
  height: 156px !important;
  background: #FFFFFF !important;
  border-radius: 15px !important;
  margin-right: 15px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#profile a[href*="email"]{display: none;}
#quicklinks a:after, #quicklinks a.profil_msg, #quicklinks a.profile_topics{font-family: FontAwesome; font-size: 15px; color: var(--pnj);}
#quicklinks a[href*="privmsg"] img{display: none;}
#quicklinks a[href*="privmsg"]:after{content: "\f56b";}
#quicklinks a img[src="https://2img.net/i.imgur.com/wOUuZII.png"]{opacity: 0; height:0px;}
#quicklinks a:has(img[src="https://2img.net/i.imgur.com/wOUuZII.png"]):after{content: "\e500";}
#quicklinks a.profil_msg, #quicklinks a.profil_topics{margin: 3px;}

/*left side*/
#profile #character {
    width: 250px;
    background: #FFF;
    border-radius: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#profile .profile_icon{position: relative;}
#profile #character .profile_icon > div{display: none;}
.profile_icon > div.username{display: block !important;}
.profile_icon > div.field_id2, .profile_icon > div.field_id11{display: flex!important;
	justify-content: center; position: relative; z-index: 5;}
#profile #character .profile_icon > div.field_id11 img{width: 100px; height: 100px; border: 5px solid white; border-radius: 15px; margin: 41px 0 33px; border: 5px solid white;}
.profile_icon .username {
	border-radius: 15px;
	overflow: hidden;
	position: absolute;
}  
.profile_icon .username span {
	color: #FFFFFF!important;
	display: flex;
	font-family: 'Abril Fatface';
	font-size: 64px;
	font-weight: lighter;
	justify-content: center;
	line-height: 55px;
	text-transform: lowercase;
	-webkit-text-stroke: 0.4px #e3e3e3;
        white-space: nowrap;
}
.profile_icon .username {width: 100%;}
.profile_icon > div.field_id2{color: var(--pnj); font-weight: bold;}

#character .card {
    background: #EFEFEF;
    margin: 5px 15px 15px;
    padding: 10px;
    border-radius: 5px;
}

#character .card > div{display: none;}
#character .card > div.field_id3, #character .card > div.field_id4, #character .card > div.field_id5, #character .card > div.field_id7{display: block;}
#character .card div.field_uneditable {display: inline-block;}
#character .card > div.field_id6 {display: block !important;}
.card .field_id6 .field_uneditable {display: block !important;}
.card .field_id3:before, .card .field_id4:before, .card .field_id5:before, .card .field_id6:before, .card .field_id7:before{
    background: var(--pnj);
    padding: 3px 7px;
    margin: 3px 3px 3px 0;
    line-height: 25px;
    font-style: italic;
    border-radius: 10px;
    color: #fff!important;
    text-transform: lowercase;
}
.card .field_id3:before{content:"\00e2ge";}
.card .field_id4:before{content:"nationalit\00e9";}
.card .field_id5:before{content:"avatar";}
.card .field_id6:before{content:"souvenirs"; padding-right: 139px;}
.card .field_id7:before{content:"cr\00e9 dits";}

#character .profile_lastco {margin: 10px 15px; text-transform: lowercase; text-align: center;}
#character .profile_lastco div{background: var(--pnj);
    padding: 3px 7px;
    font-style: italic;
    margin-bottom: 5px;
    border-radius: 10px;
    color: #fff!important;
    }

/*username right*/
#profile #username {
width: 90px;
height: auto;
  
}

#username .username {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 135px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  transform: rotate(90deg);
  -webkit-text-stroke: 1px #e3e3e3;
  color: transparent;
  white-space: nowrap;
}

div#username:before {
    font-family: fontawesome;
    font-size: 90px;
    transform: scaleX(-1);
    color: var(--pnj);
    position: relative;
    left: -20px;
}

#username .username span {
color: transparent!important;
}

#username .username span strong {
  font-weight: normal;
}
